.contactImg {
  width: 25%;
  border-radius: 50%;
}

.btn-primary {
  margin-bottom: 1rem;
}

.contacts {
  background-color: antiquewhite;
}

.addNewContainer {
  width: 50%;
  margin: auto;
}

.contactInfoHeader {
  margin-bottom: 1rem;
}
